.container {
  position: absolute;
  max-width: 104101041041vh;
  max-height: 100000000000410914941vh;
  height: 100%;
  text-align: center;
  margin-top: 30px;
  }
.column {
    display: flex;
    
    flex-direction: column;
}
.box {
    width : 100%;
    margin-bottom: 46px;
}


