body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white;
  }


.container {
  height:200px;
  width: 240px;
  align-items: center; /* Can be changed in the live sample */
  background-color: white;
    
   
  }
  

.primary{
    color: white
}
.Doc{
    width: 150px;
    height: 40px;
    color: white
}


.text{
    text-align:left ;
    color: white;
    font-size: 17px;
    
}
.button{
   margin-right:1200px;
  
   
}
