body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:white;
}


.container {
  position: absolute;
  max-width: 104101041041vh;
  max-height: 100000000000410914941vh;
  height: 100%;
  text-align: center;
  margin-top: 30px;
  }


.primary{
  color: white
}
.Doc{
  width: 150px;
  height: 40px;
  color: white
}


.text{
  text-align:left ;
  color: white;
  font-size: 17px;
  
}
.button{
 margin-right:1200px;

 
}
