body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
  }
  
=======
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

>>>>>>> hijaz
.container {
  position: absolute;
  max-width: 104101041041vh;
  max-height: 100000000000410914941vh;
  height: 100%;
  text-align: center;
  margin-top: 30px;
  }



.primary{
  color:rgb(173, 0, 121);
  margin-top: 80px;
}
.Doc{
  margin-top: 20px;
  width: 150px;
  height: 40px;
  color: rgb(173, 0, 121);
}


.text{
  text-align:left ;
}
.button{
 margin-right:1200px;
 width: 150px;
 height: 50px;
 color: rgb(173, 0, 121);
}